{% load staticfiles %}
<div class="section-warp ask-me">
	<div class="container clearfix">
		<div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
			<div class="row">
				<div class="col-md-3">
					<h2>無料で専門家にお悩み相談</h2>
					<p>モウヤダ！は、お悩み相談をプロや専門家に聞けるマッチングプラットフォームです。離婚・遺産相続の法律関係の
						相談や、家計の保険・ローン・借金のこと。他にも仕事の就職・転職、経営や資金調達のことまで、士業もしくは一部の限られた専門家が回答します。</p>
					<div class="clearfix"></div>
					<a class="color button dark_button medium" href="ask_question.html">無料相談</a>
					<a class="color button dark_button medium" href="#">専門家登録</a>
				</div>
				<div class="col-md-9">
					<form class="form-style form-style-2">
						<p>
							<textarea rows="4" id="question_title" onfocus="if(this.value=='専門家に相談したい悩みを教えて下さい。モウヤダ！コンサルタントがお話をお伺いします。')this.value='';" onblur="if(this.value=='')this.value='専門家に相談したい悩みを教えて下さい。モウヤダ！コンサルタントがお話をお伺いします。';">専門家に相談したい悩みを教えて下さい。モウヤダ！コンサルタントがお話をお伺いします。</textarea>
							<i class="icon-pencil"></i>
							<span class="color button small publish-question">無料のお悩みチケットを発行</span>
						</p>
					</form>
				</div>
			</div><!-- End row -->
		</div><!-- End box_icon -->
	</div><!-- End container -->
</div><!-- End section-warp -->