{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}テストディスクリプション{% endblock %}
{% block title %}出品一覧{% endblock %}

{% block content %}
{% include 'includes/first.html' %}
  <h1>チケット！</h1>
  <table>
    <thead>
    <tr>
      <th>開催日</th>
      <th>カテゴリー</th>
      <th>チケット名</th>
      <th>金額</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
      <tr>
        <td>{{ticket.get_by_the_time}}</td>
        <td>{{ ticket.start_date }}</td>
        <td>{{ ticket.category.name }}</td>
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.price_display }}</td>
        {% if user.is_authenticated %}
          <td><a href="{% url 'tickets:detail' ticket_id=ticket.id %}">購入</a></td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">チケットはありませんでした</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include 'includes/page.html' %}
{% endblock %}

